 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/dsdddd.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1752px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(86,69,113,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 4.5rem;
  width: 861px;
  margin: 69px auto 0;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 186px;
  margin: -86px 319px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(128,59,236,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -76px auto 0;
  padding: 15px 41px 15px 40px;
}

.u-section-1 .u-text-2 {
  width: 861px;
  margin: 62px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 81px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 296px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -482px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -475px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 329px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -508px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 336px;
    margin-right: 154px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -502px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 34px;
  }
}